@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kphb<br />
    Hyderabad, 9090909090<br />
    <abbr title="Phone">P:</abbr>
    040-1231231
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@GroceryMart.com">Support@GroceryMart.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@GroceryMart.com">Marketing@GroceryMart.com</a>
</address>